/* #printValue {
  display: none;
} */

body {
  background-color: rgb(255, 255, 255);
}

.navText {
  display: inline;
  float: right;
  margin: 10px;
}
.nav-bt a {
  text-decoration: none;
  color: white;
}
.nav-bt {
  margin: 10px;
  height: 30px;
}

#nav-bar {
  height: max-content;
  background-color: rgb(194, 190, 199);
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
}
#simform-logo {
  display: inline;
  height: 45px;
}

#main-div {
  border: 3px solid black;
  margin: auto;
  width: auto;
  /* height: 500px; */
  overflow: hidden;
  padding: 100px;
  padding-top: 10px;
  background-color: rgb(216, 208, 208);
}
#leftPanel {
  width: 30%;
  float: left;
  /* border: 2px solid black; */
  padding: 50px;
  padding-left: 100px;
}
#create {
  width: 30%;
  float: left;
  border: 2px solid black;
  padding: 30px;
  padding-left: 50px;
  margin-top: 30px;
}

.displayButton {
  border: none;
  /* background-color: rgb(50, 50, 50); */
  /* color: white; */
  /* background-color: rgb(77, 76, 76); */
  /* color: white; */
}
.displayContent {
  /* background-color: white; */
  font-size: larger;
}
#printPName {
  font-weight: bold;
}
#delete {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}
.edit {
  /* background-color: rgb(0, 255, 51); */
  border-radius: 5px;
}

.nav-bt {
  background-color: black;
  color: white;
}

#submit {
  background-color: rgb(0, 0, 0);
  color: white;
}

#editSection {
  /* text-align: center; */
  border: 2px dotted black;
  margin-bottom: 10px;
  padding-left: 20px;
  background-color: rgb(194, 190, 199);
}

.filterBtn {
  display: inline;
  text-align: center;
  width: 150px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
}
#clear {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.printValue p {
  margin: 0;
  width: auto;
  padding: 5px;
}

#update {
  float: left;
  width: 30%;
  margin-right: 10px;
  padding-left: 20px;
}

#viewPanel {
  float: left;
  width: 60%;
  margin-left: 50px;
  /* border: 5px solid black; */
}

#displayData {
  /* border: 5px solid black; */
  width: 100%;
  overflow: hidden;
  margin-left: 100px;
  /* height: 100px ; */
}

.printValue {
  width: 230px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(194, 190, 199);
  float: left;
  margin: 5px;
  text-align: center;
}

#hereImg {
  height: 100px;
}
